*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #EBEBEB;
}

hr {
    height: 5px;
    background-color: black;
    width: 100%;
    border: none;
}

/* MENU */

#center-menu {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 20px;
    z-index: 1000;
    width: 100%;
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.body-menu {
    position: relative;
    height: 100px;
    width: 1330px;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    z-index: 1;
}

.menu-left {
    position: absolute;
    left: 70px;
}

.menu-left ul {
    display: flex;
    gap: 70px; /* Spazio tra le voci del menu */
    padding: 0;
    list-style: none;
}

.menu-left ul li a {
    text-decoration: none;
    color: black;
}
.dropdown{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.triangle-down{
    content: "";
    display: inline-block;
    margin-left: 5px;
    width: 0;
    height: 10px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #bbb;
}
.triangle-up{
    content: "";
    display: inline-block;
    margin-left: 5px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #a6a6a6;
}

.menu-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-image {
    width: auto;
    height: 45px;
}

.menu-right{
    position: absolute;
    right: 70px;
}

.menu-right ul{
    display: flex;
    gap: 70px;
    list-style: none;
}

.menu-right li a{
    text-decoration: none;
    color: black;
}

.catalogo-dropdown{
    position: absolute;
    width: 1330px;
    /* height: 500px; */
    background-color: white;
    top: 100px;
    overflow: hidden;
    transition: height .5s ease-in-out;
}
.catalogo-dropdown.closed{
    height: 0;
}
.catalogo-dropdown.open{
    height: 50px;
}

.moto-catalogo ul{
    list-style: none;
    width: 100%;
}
.moto-catalogo ul li{
    float: left;
    width: 12.5%;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
}
.moto-catalogo a{
    text-decoration: none;
    color: inherit;
}

.bikes-dropdown{
    position: absolute;
    width: 1330px;
    /* height: 500px; */
    background-color: white;
    top: 150px;
    overflow: hidden;
    transition: height .5s ease-in-out;
}
.bikes-dropdown.closed{
    height: 0;
}
.bikes-dropdown.open{
    height: 400px;
}
.grid{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%;
    height: 100%;
    padding: 0 5%;
    overflow: auto;
    overflow-y: hidden;
}
.gridscroll{
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Center vertically */
    width: 100%;
}
.block{
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-bottom: 20px;
}
.bike-img{
    width: 200px;
    height: auto;
}
.bike-name{
    font-size: 18px;
}
.bike-price{
    font-size: 14px;
}


/* BODY */

#center-page{
    display: flex;
    justify-content: center;
}

.page{
    position: relative;
    width: 2000px;
    height: 5242px;
    background-color: #FAFAFA;
    /* background-color: cadetblue; */
}

/* FEATURED BIKE */

.mySlides{
    display: none;
}
.mySlides img{
    vertical-align: middle;
    width: 100%;
    height: 1000px;
    object-fit: cover;
}

.slideshow-container{
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* INFO BOX */

.info-box{
    position: absolute;
    background-color: rgba(22, 23, 26, .8);
    height: 100%;
    width: 400px;
    bottom: 0;
}

.text{
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;
    position: absolute;
    width: 100%;
}
.info-bike-brand{
    font-size: 30px;
    margin: 350px 30px;
}
.info-bike-brand a{
    text-decoration: none;
    color: inherit;
}
.info-bike-name{
    font-size: 60px;
    font-weight: 700;
    margin: 380px 30px;
    cursor:default;
}
.info-bike-price{
    font-size: 25px;
    margin: 460px 30px;
    cursor:default;
}

/* INFO BUTTON */

.info-button{
    display: inline-flex;
    position: absolute;
    bottom: 0;
    margin: 420px 30px;
    width: 270px;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
}
.info-button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.dots-align{
    position: absolute;
    padding: 75px 30px;
    bottom: 0;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    border: 1px solid white;
    margin: 0 2px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease;
}
.active, .dot:hover{
    background-color: white;
}

.work{
    position: absolute;
    top: 1100px;
    font-size: 100px;
}


/*
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}
*/